body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #22343d
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #22343d;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
}

.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-right: 237px;
}

.logo-image {
    width: 39px;
    height: 36px;
    margin-right: 16px;
}

.nav-header-list {
    display: flex;
    gap: 30px;
}

.nav-header-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    transition-property: font-weight;
    transition-duration: 100ms;
    transition-timing-function: ease;
}

.current {
    font-weight: 600;
}

.nav-header-list-item:hover,
.nav-header-list-item:focus {
    font-weight: 600;
}

.nav-header-buttons {
    display: flex;
    gap: 21px;
    margin-left: auto;
}

.nav-header-button {
    padding: 9px 24.65px 9px 24.65px;
    background-color: #02897a;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #02897a;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.nav-header-button:hover,
.nav-header-button:focus {
    background-color: #ffffff;
    color: #173a56;
    border: 1px solid #BCD0E5;
}

.clients {
    padding-top: 100px;
    padding-bottom: 117px;
}

.clients-container {
    max-width: 880px;
}

.clients-container-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.clients-container-list {
    display: flex;
    align-items: center;
    gap: 64px;
}

.clients-container-list-item {
    transition: transform 250ms ease-in-out;
}

.clients-container-list-item:hover {
    transform: scale(1.1);
}

.benefits {
    background-color: #f5f5f5;
    padding-top: 24px;
    padding-bottom: 68px;
}


.benefits-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 1110px;
    margin: 0 auto;
}

.benefits-list-item {
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 32px 0px 34px 0px;
    width: calc((100% - 60px) / 3);
    min-height: 305px;
}

.benefits-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
}

.benefits-list-icon-cursor {
    background-color: #02897A;
}

.benefits-list-icon-wave {
    background-color: #4D8DFF;
}

.benefits-list-icon-heard {
    background-color: #F03E3D;
}

.benefits-list-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 137%;
    letter-spacing: 0em;
    margin-top: 32px;
    margin-bottom: 16px;
    text-align: center;
}

.benefits-list-item-text {
    max-width: 275px;
    margin: 0 auto;
    text-align: center;
}

/*product*/

.product-section {
    padding-top: 101px;
    padding-bottom: 115px;
}

.product-container {
    max-width: 1057px;
}

.product-section-title {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 73px;
}

.product-section-list {
    margin-bottom: 78px;
}

.product-section-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-section-list-item:not(:last-child) {
    margin-bottom: 100px;
}

.product-step-wraper {
    max-width: 445px;
}

.product-step-one-wraper {
    margin-left: 89px;
}

.product-step-two-wraper {
    margin-right: 76px;
}

.product-step-three-wraper {
    margin-left: 88px;
}

.product-section-list-step {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.product-section-list-title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.product-section-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
}

.product-button {
    border-radius: 8px;
    min-width: 224px;
    padding: 11px 18px;
    display: block;
    margin: 0 auto;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background-color: #02897A;
    border: 1px solid #02897A;
    transition: background-color,color 250ms ease-in-out;
}

.product-button:hover,
.product-button:focus {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #02897A;
}
/*join*/

.join-container {
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
    padding-top: 35px;
    padding-bottom: 45px;
    margin-bottom: 100px;
}

.join-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 93px;
}

.join-list {
    display: flex;
    justify-content: center;
    gap: 227px;
}

.join-picture {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}



.join-list-item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 117%;
    color: #000;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 27px;
}

.join-lils-item-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    text-align: center;
    margin-bottom: 12px;
}

.join-list-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    color: #000;
}

/*--promo--*/
.promo-container {
    width: 968px;
    height: 345px;
    background: #02897a;
    border-radius: 32px;
    display: flex;
    padding-right: 46px;
    padding-left: 51px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.ptomo-text-button {
    margin-right: 10px;
}

.promo-container-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 151%;
    color: #fff;
    padding-top: 49px;
    margin-bottom: 46px;
}

.promo-button {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    padding: 10px 34px;
    border: 1px solid #02897a;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.promo-button:hover {
    background-color: #02897a;
    color: #fff;
    border: 1px solid #fff;
}

/*--footer--*/
.footer {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer-container {
    display: flex;
    margin-bottom: 10px;
}

.footer-logo-social {
    margin-right: 146px;
}

.footer-logo-picture {
    max-width: 40px;
    margin-right: 16px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-bottom: 18px;
    width: 178px;
}

.footer-social-media {
    display: flex;
    gap: 16px;
}

.footer-social-media-item {
    background-color: #EDFFFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms ease-in-out;
}

.footer-social-media-item:hover,
.footer-social-media-item:focus {
    background-color: #02897a;
}

.footer-social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: stroke, fill;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.footer-social-media-item:hover .footer-icon,
.footer-social-media-item:focus .footer-icon {
    stroke: #EDFFFC;
    fill: #02897A;
}

.footer-icon {
    stroke-width: 2px;
    stroke: #02897a;
    fill: #EDFFFC;
}

.footer-nav-resourse {
    margin-right: auto;
}

.footer-nav-legal {
    margin-right: 83px;
    min-width: 131px;
}

.footer-nav-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.footer-nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    transition: text-decoration 250ms ease-in-out;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    text-decoration: underline;
}

.footer-form-container {
    max-width: 325px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}

.footer-form-input-wraper {
    position: relative;
}

.footer-form-icon {
    fill: #02897A;
    position: absolute;
    top: 10px;
    left: 12px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.footer-form-input:hover+.footer-form-icon,
.footer-form-input:focus+.footer-form-icon {
    opacity: 1;
}

.footer-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 25px;
    padding: 10px 43px 10px 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #02897a;
    border-radius: 4px;
    outline: transparent;
    border: 1px solid #bcd0e5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.footer-form-input::placeholder {
    opacity: 0;
    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
    opacity: 1;
    color: #02897a;
}



.footer-form-button {
    min-width: 131px;
    padding: 8px 15px 7px 15px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #02897A;
    border: 1px solid #02897A;
    transition: background-color, color 250ms ease-in-out;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #02897A;
}

.footer-final-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
}