body {
    background-color: #ffffff;
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #22343d
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #22343d;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

header {
    padding-top: 22px;
    padding-bottom: 22px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
}
.container {
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-right: 237px;
}

.logo-image {
    width: 39px;
    height: 36px;
    margin-right: 16px;
}

.nav-header-list {
    display: flex;
    gap: 30px;
}

.nav-header-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    transition-property: font-weight;
    transition-duration: 100ms;
    transition-timing-function: ease;
}
.current {
    font-weight: 600;
}

.nav-header-list-item:hover,
.nav-header-list-item:focus {
    font-weight: 600;
}

.nav-header-buttons {
    display: flex;
    gap: 21px;
    margin-left: auto;
}

.nav-header-button {
    padding: 9px 24.65px 9px 24.65px;
    background-color: #02897a;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    border-radius: 4px;
    border: 1px solid #02897a;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.nav-header-button:hover,
.nav-header-button:focus {
    background-color: #ffffff;
    color: #173a56;
    border: 1px solid #BCD0E5;
}

.hero {
    padding-bottom: 50px;
    padding-top: 25px;
}
.hero-container {
    display: flex;
}

.hero-content {
    margin-right: 35px;
    padding: 112px 0px;
}

.hero-content-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 18px;
    max-width: 400px;
}

.hero-content-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    margin-bottom: 45px;
}

.hero-content-buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-cantent-button-green {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897a;
    border: 1px solid #02897a;
    padding-top: 15px;
    padding-right: 41.7px;
    padding-bottom: 14px;
    padding-left: 41.7px;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.hero-cantent-button-green:hover,
.hero-cantent-button-green:focus {
    background-color: #ffffff;
    color: #173a56;
    border: 1px solid #BCD0E5;
}

.hero-cantent-button-clear {
    color: #02897A;
    background-color: #fff;
    text-decoration: none;
    transition-property: text-decoration;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
    display: flex;
    align-items: center;
}

.hero-cantent-button-clear:hover,
.hero-cantent-button-clear:focus {
    text-decoration: underline;
}
.hero-content-button-icon {
    margin-right: 8.66px;
    transition: transform 250ms ease-in-out;
}
.hero-cantent-button-clear:hover .hero-content-button-icon {
    transform: rotate(90deg);
}
.benefits {
    padding-top: 50px;
    padding-bottom: 25px;
}

.benefits-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 539px;
    padding-left: 15px;
    padding-right: 15px;
}

.benefits-list {
    display: flex;
    margin-bottom: 50px;
    gap: 30px;
}

.benefits-list-item {
    width: calc((100% - 90px) / 4);
    padding-bottom: 26px;
}

.benefits-list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
    width: 54px;
    height: 54px;
    border-radius: 19px;
}

.benefits-list-icon-cursor {
    background-color: #02897A;
}

.benefits-list-icon-wave {
    background-color: #4D8DFF;
}

.benefits-list-icon-heard {
    background-color: #740A76;
}

.benefits-list-icon-sandclock {
    background-color: #F03E3D;
}

.benefits-list-item-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}

.benefits-button {
    min-width: 175px;
    margin: 0 auto;
    display: block;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897A;
    border: 1px solid #02897a;
    padding: 15px 32px 14px 34px;
    border-radius: 4px;
    transition: background-color 250ms ease-in-out;
}

.benefits-button:hover,
.benefits-button:focus {
    background-color: #ffffff;
    color: #173a56;
    border: 1px solid #BCD0E5;
}

.management {
    padding-top: 25px;
    padding-bottom: 50px;
}

.management-container {
    display: flex;
}

.management-container-content {
    margin-right: 84px;
    padding-top: 41px;
    padding-bottom: 41px;
}

.management-title-small {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.management-title-big {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 30px;
}

.management-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.management-list-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 12px;
}

.management-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}

.customer-support-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

.customer-support-image {
    margin-right: 84px;
    max-width: 100%;
}

.customer-support-info {
    padding: 41px 0 40px 0;
    max-width: 450.77px;
}

.customer-support-title-small {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.customer-support-title-big {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.customer-support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 30px;
}

.customer-support-list-item {
    display: flex;
}

.customer-support-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.tick-orange {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    border-radius: 13.85px;
    margin-right: 30px;
    background-color: #FF9900;
}

.tick-red {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    border-radius: 13.85px;
    margin-right: 30px;
    background-color: #F03E3D;
}

.tick-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    border-radius: 13.85px;
    margin-right: 30px;
    background-color: #4D8DFF;
}

.tick {
    fill: #ffffff;
}

.customer-support-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}


.collaborative-section-container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 75px;
}

.collaborative-section-text {
    padding-top: 41px;
    padding-bottom: 41px;
    max-width: 486px;
}

.collaborative-title-small {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 8px;
}

.collaborative-title-big {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.collaborative-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 30px;
}

.collaborative-section-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.collaborative-section-item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 12px;
}

.collaborative-section-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}

.collaborative-image {
    max-width: 100%;
    margin-left: 84px;
}

.process-container {
    max-width: 916px;
    padding-top: 75px;
    padding-bottom: 50px;
}

.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.process-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    margin-bottom: 40px;
    max-width: 542px;
    margin: 0 auto;
}

.process-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 100px;
    margin-top: 40px;
    margin-bottom: 50px;
}

.process-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc((100% - 100px) / 2);
}

.process-image {
    width: 98px;
}

.process-item-text {
    box-sizing: border-box;
    padding: 14px 19px 12.1px 20px;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    max-height: 50px;
}

.process-button {
    padding: 15px 31px 14px 30px;
    display: block;
    margin: 0 auto;
    background-color: #02897A;
    border: 1px solid #02897A;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.process-button:hover,
.process-button:focus {
    background-color: #ffffff;
    color: #02897A;
    border: 1px solid #BCD0E5;
}

.strategies-section {
    padding-top: 50px;
    padding-bottom: 86px;
}

.strategies-section-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}

.strategies-section-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 40px;
}

.strategy-section-list {
    display: flex;
    gap: 30px;
}

.strategy-section-list-item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #dedede;
    border-radius: 8px;
}

.strategy-section-list-item:hover .strategy-section-list-item-title {
    color: #02897A;
}

.strategies-section-picture {
    max-width: 100%;
}

.strategy-item-text-together {
    padding-top: 24px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 40px;
}
.strategy-section-list-item-text {
    margin-bottom: 12px;
}

.strategy-name {
    font-weight: 700;
}

.strategy-section-list-item-title {
    max-width: 250px;
}

.price {
    padding-top: 85px;
    padding-bottom: 50px;
}

.price-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
}

.price-text {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-item {
    padding: 32px 0;
    width: calc((100% - 144px) / 3);
    text-align: center;
    font-family: "Montserrat", serif;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-item-title {
    margin-bottom: 8px;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #22343d;
}

.price-item-text {
    margin-bottom: 16px;
    line-height: 2.5;
}

.price-item-inner {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-item-number {
    margin-right: 7px;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    color: #02897a;
}

.price-item-currency {
    margin-bottom: 4px;
    text-align: left;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
}

.price-item-term {
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-inner {
    margin-bottom: 30px;
}

.inner-item:not(:last-child) {
    margin-bottom: 16px;
}

.inner-item-title {
    font-weight: 500;
    line-height: 1.375;
    letter-spacing: 0.01em;
}

.price-item-button {
    background-color: #02897A;
    color: #fff;
    padding: 11px 18px 11px 19px;
    border-radius: 4px;
    border: 1px solid #02897A;
    font-weight: 600;
    font-size: 18px;
    font-family: Montserrat;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.price-item-button:hover,
.price-item-button:focus {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #BCD0E5;
}

/* js */

.price-item.active {
    background-color: #02897A;
    color: white;
}

.price-item.active .price-item-title,
.price-item.active .price-item-text,
.price-item.active .price-item-number,
.price-item.active .price-item-currency,
.price-item.active .price-item-term {
    color: white;
}

.price-item.active .price-item-button {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #BCD0E5;
}

.price-item.active .price-item-button:hover,
.price-item.active .price-item-button:hover {
    background-color: #02897A;
    color: #fff;
    border: 1px solid #fff;
}

.clients-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.clients-container-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 178%;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    text-align: center;
}

.clients-container-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 40px;
}

.clients-container-list {
    display: flex;
    gap: 64px;
}

.clients-container-list-item {
    padding: 28px 26px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.stars-picture {
    width: 106px;
    height: 18px;
    margin-bottom: 16px;
}

.clients-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.clients-picture-name {
    display: flex;
    align-items: center;
}

.clients-picture {
    width: 50px;
    height: 50px;
    margin-right: 14px;
}

.clients-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: #02897a;
}

.clients-profecion {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.01em;
    color: #252b42;
}
.promo-container {
    width: 968px;
    height: 345px;
    background: #02897a;
    border-radius: 32px;
    display: flex;
    padding-right: 46px;
    padding-left: 51px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.ptomo-text-button {
    margin-right: 10px;
}

.promo-container-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 151%;
    color: #fff;
    padding-top: 49px;
    margin-bottom: 46px;
}

.promo-button {
    background-color: #fff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    padding: 10px 34px;
    border: 1px solid #02897a;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.promo-button:hover,
.promo-button:focus {
    background-color: #02897a;
    color: #fff;
    border: 1px solid #fff;
}

.footer-container {
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer-navigation {
    display: flex;
    margin-bottom: 10px;
}

.footer-logo-social {
    margin-right: 146px;
}

.footer-logo-picture {
    max-width: 40px;
    margin-right: 16px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-bottom: 18px;
}

.footer-social-media {
    display: flex;
    gap: 16px;
}

.footer-social-media-item {
    background-color: #EDFFFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.footer-social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    stroke-width: 2px;
    stroke: #02897a;
    fill: #EDFFFC;
}

.footer-nav-resourse {
    margin-right: 129px;
}

.footer-nav-legal {
    margin-right: 83px;
}

.footer-nav-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.footer-nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
}

.footer-final-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
}