

.footer {
    padding-top: 50px;
    padding-bottom: 40px;
}
.footer-container {
    display: flex;
    margin-bottom: 10px;
}

.footer-logo-social {
    margin-right: 146px;
}

.footer-logo-picture {
    max-width: 40px;
    margin-right: 16px;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 93%;
    color: #173a56;
    margin-bottom: 18px;
    width: 178px;
}

.footer-social-media {
    display: flex;
    gap: 16px;
}

.footer-social-media-item {
    background-color: #EDFFFC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: background-color 250ms ease-in-out;
}

.footer-social-media-item:hover,
.footer-social-media-item:focus {
    background-color: #02897a;
}

.footer-social-media-link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: stroke, fill;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.footer-social-media-item:hover .footer-icon,
.footer-social-media-item:focus .footer-icon{
    stroke: #EDFFFC;
    fill: #02897A;
}

.footer-icon {
    stroke-width: 2px;
    stroke: #02897a;
    fill: #EDFFFC;
}

.footer-nav-resourse {
    margin-right: auto;
}

.footer-nav-legal {
    margin-right: 83px;
    min-width: 131px;
}

.footer-nav-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.footer-nav-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 219%;
    transition: text-decoration 250ms ease-in-out;
}

.footer-nav-item:hover,
.footer-nav-item:focus {
    text-decoration: underline;
}

.footer-form-container {
    max-width: 325px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
}

.footer-form-input-wraper {
    position: relative;
}

.footer-form-icon {
    fill: #02897A;
    position: absolute;
    top: 10px;
    left: 12px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.footer-form-input:hover +.footer-form-icon,
.footer-form-input:focus +.footer-form-icon {
    opacity: 1;
}

.footer-form-input {
    width: 100%;
    height: 48px;
    margin-bottom: 25px;
    padding: 10px 43px 10px 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: #02897a;
    border-radius: 4px;
    outline: transparent;
    border: 1px solid #bcd0e5;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.footer-form-input::placeholder {
    opacity: 0;
    transition-property: color, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

.footer-form-input:hover::placeholder,
.footer-form-input:focus::placeholder {
    opacity: 1;
    color: #02897a;
}



.footer-form-button {
    min-width: 131px;
    padding: 8px 15px 7px 15px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    background-color: #02897A;
    border: 1px solid #02897A;
    transition: background-color, color 250ms ease-in-out;
}

.footer-form-button:hover,
.footer-form-button:focus {
    background-color: #fff;
    color: #02897A;
    border: 1px solid #02897A;
}

.footer-final-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
}